@import "theme";
@import "materialize";
@import "material_icons";
@import "custom";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -wekit-smoothing: intialiased;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

border-style, input, button {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

.image-project{
  width: 180px;
  height: 180px;
}